/*************************************************************
${comments}
**************************************************************/

// imports
${imports}

// global variables
${globalVariables}

// initial setup
void setup() {
${setupBody}
}

// main infinite loop
void loop() {
${loopBody}
}